@model IEnumerable<MvcCoreEfProcedures.Models.Doctor>

@{
    ViewData["Title"] = "DoctoresEspecialidad";
}

@{

    List<string> especialidades = ViewData["ESPECIALIDADES"] as List<string>;

}

<h1>DoctoresEspecialidad</h1>
<form method="post">
    <label>Seleccione especialidad</label>
    <select name="especialidad" class="form-control">
        @foreach (string espe in especialidades)
        {
                <option>@espe</option>
        }
    </select>
    <label>Incremento salarial</label>
    <input type="text" name="incremento" class="form-control" required/>
    <button class="btn btn-warning">
        Incrementar salarios
    </button>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdHospital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDoctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdHospital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            
        </tr>
}
    </tbody>
</table>
